<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email%>

      <%= f.label :password %>
      <%= f.password_field :password%>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <i>Remember me</i><br>
        
      <% end %>

     <label><%= f.submit "Log in", class: "button btn" %></label>
    <% end %>

     <font color="white">New user? <%= link_to "Sign up now!", signup_path %></font>
  </div>
</div>