<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <div>
    <%= render 'shared/res_home'%>
    <%= render 'shared/rfeed' %>

    </div>
  </div>
  
<% else %>

<% provide(:title, "Home") %>
<div class="center">
  <h1>STUDENT ASSIGNMENT SUBMISSION</h1>
  <h2>Please click sign in to register</h2>
<%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-info" %>
</div>
<% end %>

