<% provide(:title, 'Sign up') %>
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      <label> <%= f.label :name %></label>
      <%= f.text_field :name %><br>

     <label> <%= f.label :email %></label>
      <%= f.email_field :email %><br>

      <label><%= f.label :password %></label>
      <%= f.password_field :password %><br>

      <label><%= f.label :password_confirmation, "Confirmation" %></label>
      <%= f.password_field :password_confirmation %><br><br>

      <label><%= f.submit "Register", class: "btn button" %></label>
      
      
    <% end %>
  </div>
</div>