@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 180px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #FFFFFF;
  padding-top: 80px;
  font-size: 3.0em;
  letter-spacing: -2px;
  margin-bottom: 60px;
  text-align: center;
  
  
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #000000;
}

.mycss
{
color: #c6c6c6;
font-weight: bold;
word-spacing: 1pt;
font-size: 15px;
text-align: center;
font-family:Arial;
}
/* sign up page*/
.jumbotron {
   padding: 20px;
   height: 450px;
   width: 400px;
   background: url("https://pixabay.com/static/uploads/photo/2015/06/30/23/12/gradient-826983_960_720.jpg");
   }
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

input, textarea, select, .uneditable-input {
	
margin-top: 15px;
  width: 40%;
  margin-bottom: 15px;
}

input {
  position: relative;
  top: -1px;
  height: auto !important;
   border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
	display: inline-block;
    width: 200px;
    text-align: right;
}

label {
  position: relative;
  color: #000;
  top: -2px;
  font-size: 15pt;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  display:inline-block;
  min-width: 200px;
}
.button
{
    background: #abda0f;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float: right;
    position: relative;
    top: -33px;
    right: -220px;
    padding: 4px 7px;
}


/* forms */
#error_explanation {
   
  ul {
    position: relative;
    color: red;
    top: -28px; 
  }
}
#err{
  position: relative;
  color: red;
  top: -35px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  
  span {
    margin-left: 30px;
    font-weight: normal;
  
  }
}

#session_remember_me {
  width: auto;
 
 
}
i{
  position: relative;
    right: 160px;
   font-weight: normal;
  text-align: center;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    
  }
}
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    color: white;
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: white;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
font{
  padding-left: 180px;
  
}


